[Desktop Entry]
Version=1.0
Type=Application

Name=Lapce
Comment=Lightning-fast and powerful code editor written in Rust
Categories=Development;IDE;
GenericName=Code Editor
StartupWMClass=devforge

Icon=dev.devforge.devforge
Exec=devforge %F
Terminal=false
MimeType=text/plain;inode/directory;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=devforge --new %F
Icon=dev.devforge.devforge
